<!-- Reference for bootstap 3 panels: https://www.w3schools.com/bootstrap/bootstrap_panels.asp -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" style="display: flex; align-items: center;">
            <div class="col-xs-8" style=" font-size: 20px;">
                <b>Contacts</b>
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-success pull-right">New Contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!-- [contact]="contactElement": contactElement is passed into the contact input variable
        of ContactItemComponent by @Input() in contact-item.component.ts; 
        contactElement is bound to the contact property -->
        <!-- Reference: https://byui.instructure.com/courses/404738/pages/w03-assignment-instructions
        Detect when the end user clicks on one of the contact items in the list and then call and 
        pass the selected Contact object to the onSelected() method. Open the contact-list.component.html file 
        and go to the < cms- contact-item > tag. Use event binding to detect the click event and call the 
        onSelected() method. Pass the current contact object defined in the ngFor directive to the method. -->
        <cms-contact-item
            *ngFor="let contactElement of contacts"
            [contact]="contactElement"
            (click)="onSelected(contactElement)">
        </cms-contact-item>
        <!-- This was inserted into the contact-item component -->
        <!-- <a href="#"
            class="list-group-item clearfix"
            *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
            </div>            
            <span class="pull-right">
                <img src="{{ contact.imageUrl }}"
                alt="{{ contact.name }}"
                class="img-responsive"
                style="max-height: 50px;">
            </span>
        </a> -->
    </div>
</div>